.back {
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 10%;
    background: white;
}

h2 {
    padding-top: 10px;
}

input[type=text] {
    color: white;
    text-transform: uppercase;
}

button:disabled {
    opacity: 0.5;
}

button[type=submit]:not(:disabled):hover {
    background: rgb(99 102 241);;
}